{% extends 'base.html.twig' %}

{% block title %}Hello FollowupController!{% endblock %}

{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block body %}
    <turbo-frame id="the_frame_id">
        <div class="space-y-12 my-5 mx-10">
            <div class="border-b border-gray-900/10 pb-12">
              <h2 class="text-base font-semibold leading-7 text-gold">Ajouter un suivi</h2>
        
        {{form_start(form)}}
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

            <div class="sm:col-span-3">
                {{form_label(form.createAt)}} 
                <div class="mt-2">
                    {{form_widget(form.createAt)}} 
                </div>
            </div>

            <div class="sm:col-span-3">
                {{form_label(form.housing)}} 
                <div class="mt-2">
                    {{form_widget(form.housing)}} 
                </div>
            </div>

            <div class="sm:col-span-3">
                {{form_label(form.title)}}
                <div class="mt-2">
                    {{form_widget(form.title)}}              
                </div>
            </div>

            <div class="sm:col-span-3">
                {{form_label(form.cleaner)}} 
                <div class="mt-2">
                    {{form_widget(form.cleaner)}} 
                </div>
            </div>

            <div class="col-span-full">
                    {{form_label(form.content)}}
                <div class="mt-2">
                    {{form_widget(form.content)}}
                </div>
            </div>

            <div class="sm:col-span-3">
                {{form_label(form.price)}}
                <div class="mt-2">
                    {{form_widget(form.price)}}              
                </div>
            </div>

            {{form_widget(form.valider)}}  
      
        </div>
    </div>
        
        {{form_end(form)}}
        {% include "_components/_toast.html.twig" %}
    </turbo-frame>

{% endblock %}
